###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.generated.* -text
*.svg -text

###############################################################################
# Behavior for image files
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary

###############################################################################
# Custom settings
###############################################################################
package.json text eol=lf
package-lock.json text eol=lf
.vscode/launch.json text eol=lf
.vscode/tasks.json text eol=lf